{% if admin_session == True %}
<section class="xl-search-modal" style="position:relative; background:transparent; display:block;">
    <div class="xl-add-product" style="margin:20px auto !important;">
        <h2>Add Product</h2>
        {% if company.get_sum_categories > 0 %}
            <form method="post" id="submit_product_company" enctype="multipart/form-data" action="{% url 'managment_add_product' %}">
                {% csrf_token %}
                <span id="add_prod_image" for="id_image"><i class="icon ion-ios-camera"></i> Add Image</span>
                {{product_form}}
                <label for="product_code">Product Code :</label>
                <input type="text" name="product_code" id="product_code" placeholder="Enter Product Code" required="required" />
                <label for="stock">Initial Stock :</label>
                <input type="number" style="width:calc(100% - 23px);" min="1" name="initial_stock" placeholder="Enter Initial Stock" required="required" />
                <label for="stock">Purchased Item Price :</label>
                <input type="number" style="width:calc(100% - 23px);" min="1" name="item_price" placeholder="Enter Purchased Item Price" required="required" />
                <div style="margin-top:8px;">
                    <input type="checkbox" name="to_be_posted" /><span style="margin-left:8px;">Can Be Posted To Public</span>
                </div>
                <button type="submit" style="background:lightgreen;">Save</button>
                <button type="button" style="background:red;" id="close_add_product">Cancel</button>
            </form>
            <div id="categories-options" style="display:none;">
                {% if categories %}
                    {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                {% endif %}
            </div>
        {% else %}
            <p class="xl-error">You need at least one category to add a product</p>
            <textarea style="display:none !important;" id="id_product_description"></textarea>
            <button type="button" style="background:red;" id="close_add_product">Cancel</button>
        {% endif %}
        <script type="text/javascript">

            CKEDITOR.replace( 'id_product_description' );
            var options = $("#categories-options").html();
            hideLoadLinkSpinner();

            $("#id_category").html(options);
            $("#add_prod_image").click(function(){
                $("#id_image").click();
            });
            $("#close_add_product").click(function(){
                $(".mfp-close").click();
            });
            $(document).ready(function() {
                var pressed = false;
                var chars = [];
                $(window).keypress(function(e) {
                    if (e.which >= 48 && e.which <= 57) {
                        chars.push(String.fromCharCode(e.which));
                    }
                    console.log(e.which + ":" + chars.join("|"));
                    if (pressed == false) {
                        setTimeout(function(){
                            if (chars.length >= 10) {
                                var barcode = chars.join("");
                                console.log("Barcode Scanned: " + barcode);
                                // assign value to some input (or do whatever you want)
                                $("#product_code").val(barcode);
                            }
                            chars = [];
                            pressed = false;
                        },500);
                    }
                    pressed = true;
                });
            });
            $("#product_code").keypress(function(e){
                if ( e.which === 13 ) {
                    console.log("Prevent form submit.");
                    e.preventDefault();
                }
            });
        </script>
    </div>
</section>
{% else %}
    <p class="xl-error">WTH DO YOU WANNA DO HERE...???</p>
{% endif %}
