{% load staticfiles %}
{% include 'css.html' %}
{% load tz %}
{% load humanize %}
    <body>
        {% include 'header.html' %}
        <!-- PROFIL DIVISION -->
        <section class="xl-profil-container">
            {% if company.cover_image %}
                <div class="xl-cover-container" id="comp_cover_image" style="background-image:url({{company.cover_image.url}});">
            {% else %}
                <div class="xl-cover-container" id="comp_cover_image" style="background:gray;">
            {% endif %}
                {% if session_company == company.name_dotted %}
                    <form style="display:none;" id="update_cover_image" enctype="multipart/form-data" method="post" action="{% url 'comp_cover_edit' %}">{% csrf_token %}
                        {{cover_image_form}}
                    </form>
                    <div class="xl-modif-cover" id="modif_company_cover"><img src="{% static 'css/camera.svg' %}" /><span>Edit Cover Picture</span></div>
                {% endif %}
                <div class="xl-user-name">
                    <h2><a href="{% url 'comp_profile' company.name_dotted %}">{{company.name}}</a> <span><i class="icon ion-edit"></i></span></h2>
                </div>
            </div>
            <div class="xl-profil-picture">
                <a href="{{company.get_profile_image.url}}" class="product-main-image" title="Profile Picture" data-company="{{company.name}}">
                    <img id="profile_image" src="{{company.get_profile_image.url}}" />
                </a>
                {% if session_company == company.name_dotted %}
                    <div class="xl-modif-profil" id="modif_company_profil">
                        <img src="{% static 'css/camera.svg' %}" /><span>Edit Profil Picture</span>
                    </div>
                    <form style="display:none;" id="update_profile_image" enctype="multipart/form-data" method="post" action="{% url 'comp_profile_image_edit' %}">{% csrf_token %}
                        {{profile_image_form}}
                    </form>
                {% endif %}
            </div>
        </section>

        <!-- NAVBAR DOWN -->

        <section class="xl-navbar-down xl-navbar-user" id="xl-navbar-user">
            <div class="xl-navbar-content" style="width:597px">
                <ul>
                    <li data-tippy-arrowtransform="scale(0.75)" data-tippy-animation="shift-toward" data-tippy-arrow="true" class="menu-list" title="{{company.get_sum_products}} Products"><a href="{% url 'comp_profile_2' company.name_dotted %}">Products <span>{{company.get_sum_products}}</span></a></li>
                    <li data-tippy-arrowtransform="scale(0.75)" data-tippy-animation="shift-toward" data-tippy-arrow="true" class="menu-list" title="{{company.get_sum_posts}} Posts"><a href="{% url 'comp_posts' company.name_dotted %}">Posts <span>{{company.get_sum_posts}}</span></a></li>
                    <li data-tippy-arrowtransform="scale(0.75)" data-tippy-animation="shift-toward" data-tippy-arrow="true" class="menu-list" title="{{company.get_sum_categories}} Categories"><a href="{% url 'comp_categories' company.name_dotted %}">Categories <span>{{company.get_sum_categories}}</span></a></li>
                    <li data-tippy-arrowtransform="scale(0.75)" data-tippy-animation="shift-toward" data-tippy-arrow="true" class="menu-list" title="{{company.get_sum_advertisments}} Advertisements"><a href="{% url 'comp_advertisments' company.name_dotted %}">Advertisements <span>{{company.get_sum_advertisments}}</span></a></li>
                    <li data-tippy-arrowtransform="scale(0.75)" data-tippy-animation="shift-toward" data-tippy-arrow="true" class="activate menu-list" title="{{company.get_sum_followers}} Followers"><a href="{% url 'comp_followers' company.name_dotted %}">Followers <span>{{company.get_sum_followers}}</span></a></li>
                </ul>
            </div>
            {% if session_company == company.name_dotted %}
                <div class="xl-navbar-buttons">
                    <button id="profile_edit" type="button">Save Change</button>
                    <button id="cover_edit" type="button">Save Change</button>
                    <button id="all_edit" type="button">Save Changes</button>
                </div>
            {% endif %}
            {% if session_user %}
                <div class="xl-navbar-buttons xl-follow">
                    {% if check_follow %}
                        <button class="follow_ok"><i class="icon ion-checkmark-round"></i> Follower</button>
                    {% else %}
                        <span id="follow_success">
                            <form id="follow_company_full_now" method="post">{% csrf_token %}
                                <input type="hidden" name="company" value="{{company.pk}}" />
                                <button class="follow_now"><i class="icon ion-person-add"></i> Follow</button>
                            </form>
                        </span>
                    {% endif %}
                </div>
            {% endif %}
        </section>

        <!-- PRODUCTS AND POSTS -->

        <section class="xl-products xl-user" id="xl-user">
            <div class="xl-main-section" style="width: calc(45% + (27.5% - 10px));">
                <div class="xl-followers-users">
                    <h2>{% if followers.count == 1 %}{{company.get_sum_followers}} Follower{% else %}{{company.get_sum_followers}} Followers{% endif %}</h2>
                    {% if followers %}
                        <ul>
                            {% for user_follow in followers %}
                                <li>
                                    <div class="xl-user-follower">
                                        {% if user_follow.user.profile_image %}
                                        <img src="{{user_follow.user.profile_image.url}}" alt="{{user_follow.user.user_name}}" />
                                        {% else %}
                                        <img src='{% static 'images/default_user.jpg' %}' />
                                        {% endif %}
                                        <div class="user-about">
                                            <h3><a href="{% url 'user_profile' user_follow.user.user_name %}">{{user_follow.user.full_name}} <span class="username">@{{user_follow.user.user_name}}</span></a></h3>
                                            <p class="user-location"><i class="icon ion-ios-location"></i> {{user_follow.user.town}}, {{user_follow.user.country.name}}</p>
                                            <p class="user-data"><span><a href="{% url 'user_followers' user_follow.user.user_name %}">{{user_follow.user.get_sum_followers}} Followers</a></span><span><a href="{% url 'user_following' user_follow.user.user_name %}">{{user_follow.user.get_sum_following}} Following</a></span><span><a href="{% url 'user_posts' user_follow.user.user_name %}">{{user_follow.user.get_sum_posts}} Posts</a></span></p>
                                        </div>
                                        {% if session_company %}
                                            <button style="background:lightgreen; margin-top:0;" type="button"><i class="icon ion-checkmark-round"></i> Follow</button>
                                        {% elif session_user %}
                                            {% if user.pk == user_follow.user.pk %}
                                                <button style="background:lightgreen; margin-top:0;" type="button"><i class="icon ion-person"></i> Session</button>
                                            {% elif user_follow.user.get_followers %}
                                                {% for follow in user_follow.user.get_followers %}
                                                    {% if follow.follower_user == user.pk %}
                                                        <button style="background:lightgreen;" type="button"><i class="icon ion-checkmark-round"></i> Follow</button>
                                                    {% else %}
                                                        <form id="follow_user_now">
                                                            <button type="submit"><i class="icon ion-person-add"></i> Follow</button>
                                                        </form>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <form id="follow_user_now">
                                                    <button type="submit"><i class="icon ion-person-add"></i> Follow</button>
                                                </form>
                                            {% endif %}
                                        {% else %}
                                            <button type="submit" style="margin-top:0;"><i class="icon ion-person-add"></i> Follow</button>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="xl-error">NO FOLLOWER YET</p>
                    {% endif %}
                </div>
            </div>

            <div id="xl-else-wrapper-else">
                {% if session_company %}
                    <div class="xl-else-section" id="xl-else-section-1">
                        <div class="xl-store-about">
                            <h3>About {{company.name}}</h3>
                            <p><strong>Name :</strong> {{company.name}}</p>
                            <p><strong>State :</strong> {{company.country.name}}</p>
                            <p><strong>Town :</strong> {{company.town}}</p>
                            <p><strong>Tel. Number :</strong> {{company.phone_number}}</p>
                            <p><strong>Addresses :</strong></p>
                            <div style="margin-top:5px; margin-bottom:5px;">
                                {% if company.get_company_addresses %}
                                    <ul>
                                        {% for address in company.get_company_addresses %}
                                            <li style="text-align: left;"> - <a style="font-style: italic; color:#999" id="load_address_map" href="{% url 'load_geo_map' 'address' address.pk %}">{{address.address}}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>-</p>
                                {% endif %}
                            </div>
                            <p><strong>E-mail :</strong> <a href="mailto:{{company.email}}">{{company.email}}</a></p>
                            {% if session_company == company.name_dotted %}
                                <button type="button" href="{% url 'comp_profile_edit' %}" style="margin-right:10px;" id="open_edit_profile">Edit</button>
                                <button type="button" href="{% url 'add_address' %}" id="open_add_address">ADDRESS</button>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="xl-else-section" id="xl-else-section-2">
                        {% include 'includes/company_follow.html' %}
                    </div>
                {% endif %}
            </div>
        </section>
    </body>
</html>
