{% load staticfiles %}
{% include 'css.html' %}
{% load tz %}
{% load humanize %}
    <body>
        {% include 'header.html' %}

        <section class="xl-navbar-down">
            <div class="xl-navbar-content" style="margin:auto !important; width:425px;">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="activate"><a href="{% url 'products' %}">Products</a></li>
                    <li><a href="{% url 'posts' %}">Posts</a></li>
                    <li><a href="{% url 'advertisments' %}">Advertisments</a></li>
                </ul>
            </div>
        </section>

        <!-- PRODUCTS AND POSTS -->

        <section class="xl-products">
            <div class="xl-main-section">
                {% if session_company or session_user %}
                    {% if products %}
                        {% for product in products %}
                            <div class="xl-main-product">
                                <div class="xl-product-body">
                                    <div class="xl-product-poster">
                                        <img src='{{product.company.profile_image.url}}' alt='{{product.company.name}}' class='poster-image' />
                                        <p class="poster-name"><a href="{% url 'comp_profile' product.company.name_dotted  %}">{{product.company.name}}</a></p>
                                        <p class="date-time">
                                            <i class="icon ion-ios-settings-strong"></i> <a href="{% url 'single_category' product.company.name_dotted product.category %}">{% for category in product_category %}{% if product.category == category.pk %}{{category.name}}{% endif %}{% endfor %}</a>
                                            <i class="icon ion-ios-clock-outline"></i> <span id='post-date{{product.pk}}' data-time="{{product.posted_date|date:'Y-m-d H:i:s'}}"></span>
                                        </p>
                                        <div class="xl-product-interess">
                                            <span class="interess_after_else{{product.pk}}">
                                                {% if session_company %}
                                                    <button type="button"><i class="icon ion-ios-cart"></i> Interest</button>
                                                {% elif session_user %}
                                                    {% if product.get_interess %}
                                                        {% if user.pk in product.get_interess %}
                                                            <button style="background:lightgreen;" type="button"><i class="icon ion-checkmark-round"></i> Interested</button>
                                                        {% else %}
                                                            <button class="interess_general_product interess_product_else{{product.pk}}" data-product="{{product.pk}}" data-url="{% url 'user_interess_product' %}">{% csrf_token %}<i class="icon ion-ios-cart"></i> Interest</button>
                                                        {% endif %}
                                                    {% else %}
                                                        <button class="interess_general_product interess_product_else{{product.pk}}" data-product="{{product.pk}}" data-url="{% url 'user_interess_product' %}">{% csrf_token %}<i class="icon ion-ios-cart"></i> Interest</button>
                                                    {% endif %}
                                                {% else %}
                                                    <button class="login_first" type="button"><i class="icon ion-ios-cart"></i> Interest</button>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="xl-product-image">
                                        <a id="open_product_ajax{{product.pk}}" href="{% url 'single_product_ajax' product.pk %}">
                                            <img src="{{product.image.url}}" />
                                        </a>
                                    </div>
                                    <script type="text/javascript">$("#open_product_ajax{{product.pk}}").magnificPopup({type: 'ajax'});/*alignTop: true,overflowY: 'scroll'*/</script>
                                    <div class="xl-product-details">
                                        <h4><a href="{% url 'single_product' product.company.name_dotted product.pk %}">{{product.product_name}}</a></h4>
                                        <span class="xl-product-price"><i class="icon ion-ios-pricetags"></i> {{product.price|intword}} {{product.currency}}</span>
                                        <!--<div class="xl-product-about">{% autoescape on %}{{product.product_description|safe}}{% endautoescape %}</div>-->
                                    </div>
                                </div>
                                <div class="xl-product-like">
                                    <ul>
                                        <li><span><i class="icon ion-ios-chatbubble"></i></span> <span>{{product.get_sum_comments}}</span></li>
                                        <li>
                                            <span class="after_interess{{product.pk}}">
                                                {% if session_company %}
                                                    <span><i class="icon ion-ios-cart"></i></span>
                                                {% elif session_user %}
                                                    {% if product.get_interess %}
                                                        {% if user.pk in product.get_interess %}
                                                            <span class="interessed"><i class="icon ion-ios-cart"></i></span>
                                                        {% else %}
                                                            <span class="interess_general_product interess_general_product{{product.pk}}" data-product="{{product.pk}}" data-url="{% url 'user_interess_product' %}">{% csrf_token %}<i class="icon ion-ios-cart"></i></span>
                                                        {% endif %}
                                                    {% else %}
                                                        <span class="interess_general_product interess_general_product{{product.pk}}" data-product="{{product.pk}}" data-url="{% url 'user_interess_product' %}">{% csrf_token %}<i class="icon ion-ios-cart"></i></span>
                                                    {% endif %}
                                                {% else %}
                                                <span class="login_first"><i class="icon ion-ios-cart"></i></span>
                                                {% endif %}
                                            </span>
                                            <span class="general_sum_interess{{product.pk}}">{{product.get_sum_interess}}</span>
                                        </li>
                                        {% if session_company %}
                                            <li><span><i class="icon ion-heart"></i></span> <span>{{product.get_sum_likes}}</span></li>
                                            <li><span><i class="icon ion-heart-broken"></i></span> <span>{{product.get_sum_dislikes}}</span></li>
                                        {% elif session_user %}
                                            {% if product.check_mention_like or product.check_mention_dislike %}
                                                {% if user.pk in product.check_mention_like %}
                                                    <li><span class="liked general_product_like general_product_like{{product.pk}}" data-product="{{product.pk}}" data-href="{% url 'user_like_dislike_product' %}"><i class="icon ion-heart"></i></span> <span class="product_sum_like{{product.pk}}">{{product.get_sum_likes}}</span></li>
                                                    <li><span class="general_product_dislike general_product_dislike{{product.pk}}" data-product="{{product.pk}}" data-href="{% url 'user_like_dislike_product' %}"><i class="icon ion-heart-broken"></i></span> <span class="product_sum_dislike{{product.pk}}">{{product.get_sum_dislikes}}</span></li>
                                                    {% csrf_token %}
                                                {% elif user.pk in product.check_mention_dislike %}
                                                    <li><span class="general_product_like general_product_like{{product.pk}}" data-product="{{product.pk}}" data-href="{% url 'user_like_dislike_product' %}"><i class="icon ion-heart"></i></span> <span class="product_sum_like{{product.pk}}">{{product.get_sum_likes}}</span></li>
                                                    <li><span class="disliked general_product_dislike general_product_dislike{{product.pk}}" data-product="{{product.pk}}" data-href="{% url 'user_like_dislike_product' %}"><i class="icon ion-heart-broken"></i></span> <span class="product_sum_dislike{{product.pk}}">{{product.get_sum_dislikes}}</span></li>
                                                    {% csrf_token %}
                                                {% else %}
                                                    <li><span class="general_product_like general_product_like{{product.pk}}" data-product="{{product.pk}}" data-href="{% url 'user_like_dislike_product' %}"><i class="icon ion-heart"></i></span> <span class="product_sum_like{{product.pk}}">{{product.get_sum_likes}}</span></li>
                                                    <li><span class="general_product_dislike general_product_dislike{{product.pk}}" data-product="{{product.pk}}" data-href="{% url 'user_like_dislike_product' %}"><i class="icon ion-heart-broken"></i></span> <span class="product_sum_dislike{{product.pk}}">{{product.get_sum_dislikes}}</span></li>
                                                    {% csrf_token %}
                                                {% endif %}
                                            {% else %}
                                                <li><span class="general_product_like general_product_like{{product.pk}}" data-product="{{product.pk}}" data-href="{% url 'user_like_dislike_product' %}"><i class="icon ion-heart"></i></span> <span class="product_sum_like{{product.pk}}">{{product.get_sum_likes}}</span></li>
                                                <li><span class="general_product_dislike general_product_dislike{{product.pk}}" data-product="{{product.pk}}" data-href="{% url 'user_like_dislike_product' %}"><i class="icon ion-heart-broken"></i></span> <span class="product_sum_dislike{{product.pk}}">{{product.get_sum_dislikes}}</span></li>
                                                {% csrf_token %}
                                            {% endif %}
                                        {% else %}
                                            <li><span class="login_first"><i class="icon ion-heart"></i></span> <span>{{product.get_sum_likes}}</span></li>
                                            <li><span class="login_first"><i class="icon ion-heart-broken"></i></span> <span>{{product.get_sum_dislikes}}</span></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <script type="text/javascript">$("#post-date{{product.pk}}").setTime();</script>
                        {% endfor %}
                        <div class="xl-pagination">
                            <span class="xl-step-links">
                                {% if products.has_previous %}
                                    <a href="?page=1">&laquo; First </a> |
                                    <a href="?page={{ products.previous_page_number }}"> Previous</a>
                                {% endif %}
                                <span class="xl-current">
                                    Page {{ products.number }} of {{ products.paginator.num_pages }}.
                                </span>
                                {% if products.has_next %}
                                    <a href="?page={{ products.next_page_number }}">Next </a>|
                                    <a href="?page={{ products.paginator.num_pages }}"> Last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    {% else %}
                        <p class="xl-error">NO PRODUCT YET</p>
                    {% endif %}

                {% else %}

                    {% if products_users %}
                        {% for product in products_users %}
                            <div class="xl-main-product">
                                <div class="xl-product-body">
                                    <div class="xl-product-poster">
                                        <img src='{{product.company.profile_image.url}}' alt='{{product.company.name}}' class='poster-image' />
                                        <p class="poster-name"><a href="{% url 'comp_profile' product.company.name_dotted  %}">{{product.company.name}}</a></p>
                                        <p class="date-time">
                                            <i class="icon ion-ios-settings-strong"></i> <a href="{% url 'single_category' product.company.name_dotted product.category %}">{% for category in product_category %}{% if product.category == category.pk %}{{category.name}}{% endif %}{% endfor %}</a>
                                            <i class="icon ion-ios-clock-outline"></i> <span id='post-date{{product.pk}}' data-time="{{product.posted_date|date:'Y-m-d H:i:s'}}"></span>
                                        </p>
                                        <div class="xl-product-interess">
                                            <button type="button"><i class="icon ion-ios-cart-outline"></i> Interest</button>
                                        </div>
                                    </div>
                                    <div class="xl-product-image">
                                        <a id="open_product_ajax{{product.pk}}" href="{% url 'single_product_ajax' product.pk %}">
                                            <img src="{{product.image.url}}" />
                                        </a>
                                    </div>
                                    <script type="text/javascript">$("#open_product_ajax{{product.pk}}").magnificPopup({type: 'ajax'});</script>
                                    <div class="xl-product-details">
                                        <h4><a href="{% url 'single_product' product.company.name_dotted product.pk %}">{{product.product_name}}</a></h4>
                                        <span class="xl-product-price"><i class="icon ion-ios-pricetags-outline"></i> {{product.price|intword}} {{product.currency}}</span>
                                        <!--<div class="xl-product-about">{% autoescape on %}{{product.product_description|safe}}{% endautoescape %}</div>-->
                                    </div>
                                </div>
                                <div class="xl-product-like">
                                    <ul>
                                        <li><span><i class="icon ion-ios-chatbubble"></i></span> <span>{{product.get_sum_comments}}</span></li>
                                        <li><span><i class="icon ion-ios-cart"></i></span> <span>{{product.get_sum_interess}}</span></li>
                                        <li><span><i class="icon ion-heart"></i></span> <span>{{product.get_sum_likes}}</span></li>
                                        <li><span><i class="icon ion-heart-broken"></i></span> <span>{{product.get_sum_dislikes}}</span></li>
                                    </ul>
                                </div>
                            </div>
                            <script type="text/javascript">$("#post-date{{product.pk}}").setTime();</script>
                        {% endfor %}
                        <div class="xl-pagination">
                            <span class="xl-step-links">
                                {% if products_users.has_previous %}
                                    <a href="?page=1">&laquo; First </a> |
                                    <a href="?page={{ products_users.previous_page_number }}"> Previous</a>
                                {% endif %}
                                <span class="xl-current">
                                    Page {{ products_users.number }} of {{ products_users.paginator.num_pages }}.
                                </span>
                                {% if products_users.has_next %}
                                    <a href="?page={{ products_users.next_page_number }}">Next </a>|
                                    <a href="?page={{ products_users.paginator.num_pages }}"> Last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    {% else %}
                        <p class="xl-error">NO PRODUCT YET</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="xl-else-wrapper">
                <div class="xl-else-section xl-else-fixed">
                    {% if session_company %}
                        <h3>Trades</h3>
                        <div class="xl-comp-cate">
                            {% if company.get_trades %}
                                <ul>
                                    {% for trade in company.get_trades %}
                                        <li>
                                            <img src="{{trade.product.image.url}}"/>
                                            <a href="{% url 'company_single_trade' trade.pk %}">{{trade.product.product_name}} <span class="username">with</span> {{trade.user.full_name}}</a>
                                            <span><i class="icon ion-ios-arrow-right"></i></span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="xl-error">NO TRADE</p>
                            {% endif %}
                        </div>
                    {% else %}
                        <h3>Companies Categories</h3>
                        <div class="xl-comp-cate">
                            {% if category_comp %}
                                <ul>
                                    {% for company in category_comp %}
                                        <li>
                                            <img src="{{company.profile_image.url}}" alt="{{company.name_dotted}}" />
                                            <a href="#">{{company.name}}</a>
                                            <span><i class="icon ion-ios-arrow-right"></i></span>
                                            {% if company.get_categories %}
                                                <ul>
                                                    {% for category in company.get_categories %}
                                                        <li><a href="{% url 'single_category' company.name_dotted category.pk %}"><i class="icon ion-ios-star"></i> {{category.name}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p class="xl-error">NO COMPANY YET</p>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="xl-else-section xl-else-fixed">
                    {% include 'includes/notification_full.html' %}
                </div>
            </div>
        </section>
    </body>
</html>
