{% load staticfiles %}
{% load humanize %}
<h3>Allow User To Succeed Trade</h3>
<div class="xl-ms-setting">
    <p>{{text|safe}}</p>
    <input type="checkbox" id="allow-user-succeed" {% if setting.allow_user_to_succeed == True %}checked{% endif %} />
    {% csrf_token %}
    <p id="allow-value" style="margin-top:10px;">{{setting.allow_user_to_succeed}}</p>
    <input type="password" id="ms-password-aus" placeholder="Enter MS Password" />
    <button id="save-allow-set" style="margin-right: 10px;">Save</button><button style="background:red;">Cancel</button>
    <script type="text/javascript">
        var checkbox = document.querySelector('#allow-user-succeed');
        var init = new Switchery(checkbox);
        
        checkbox.onchange = function(){
            document.getElementById("allow-value").innerHTML = capitalize(checkbox.checked);
        }
        
        $("#save-allow-set").click(function(e){
            e.preventDefault();
            var setting = capitalize(checkbox.checked);
            var password = $("#ms-password-aus").val();
            var csrf_token = $("input[name=csrfmiddlewaretoken]").val();
            var url = "{% url 'managment_msst_aus' %}";
            $.ajax({
                type:"POST",
                url:url,
                data:{
                    'setting':setting,
                    'password':password,
                    'csrfmiddlewaretoken':csrf_token
                },
                success:function(res){
                    if(res == 'ok'){
                        $("#trade_list_loader").show();
                        load_msp_products(url);
                        $("#user-set").text(setting)
                        $.alert({theme:'material',title:'Success',icon:'icon ion-checkmark-circled',content:'Setting Changed Successfully !!!',type: 'green'});
                    }
                    else{
                        load_msp_products(url);
                        $.alert({theme:'material',title:'Error',icon:'icon ion-close-circled',content:res,type: 'red'});
                    }
                }
            });
        });
    </script>
</div>