{% load staticfiles %}
<h3>Modify Managment System Password</h3>
<form class="xl-ms-setting-form" id="update-ms-password" method="POST" action="{% url 'managment_msst_ms_p' %}">
    {% csrf_token %}
    <label>Enter Current Password : </label>
    <input type="password" name="old_password" placeholder="Enter Current Password" required />
    <label>Enter New Password : </label>
    <input type="password" name="new_password" placeholder="Enter New Password" required />
    <label>Confirm New Password :</label>
    <input type="password" name="new_password_c" placeholder="Confirm New Password" required />
    <button type="submit">Save</button><button type="button">Cancel</button>
</form>
<script type="text/javascript">
    $("#update-ms-password").submit(function(e){
        e.preventDefault();
        var form = new FormData($(this)[0]);
        var url = $(this).attr("action");
        $.ajax({
            type:'POST',
            url:url,
            data:form,
            processData: false,
            async: false,
            cache: false,
            contentType: false,
            success: function(res){
                if(res == 'ok'){
                    $("#trade_list_loader").show();
                    load_msp_products(url);
                    $.alert({theme:'material',title:'Success',icon:'icon ion-checkmark-circled',content:'SM Password Modified Successfully !!!',type: 'green'});
                }
                else{
                    load_msp_products(url);
                    $.alert({theme:'material',title:'Error',icon:'icon ion-close-circled',content:res,type: 'red'});
                }
            }
        });
    });
</script>