{% load staticfiles %}
{% load humanize %}
<div class="xl-ms-product">
    <div class="xl-ms-product-details other-div-very-different" style="width:50% !important;">
        <div class="xl-ms-scroll-pane just-for-margins">
            <h2>Security Settings</h2>
            <ul>
                <li>
                    <a class="load_setting" data-url="{% url 'managment_msst_sm_p' %}">
                        <i class="icon ion-ios-locked"></i>
                        <span class="prod-name">Modify Social Network Password</span>
                        <span class="float-side-else"><span id="trade-set"></span><i class="icon ion-ios-arrow-right"></i></span>
                    </a>
                </li>
                <li>
                    <a class="load_setting" data-url="{% url 'managment_msst_ms_p' %}">
                        <i class="icon ion-ios-locked"></i>
                        <span class="prod-name">Modify Managment System Password</span>
                        <span class="float-side-else"><span id="user-set"></span><i class="icon ion-ios-arrow-right"></i></span>
                    </a>
                </li>
                <li>
                    <a class="load_setting" data-url="{% url 'managment_msst_admin' %}">
                        <i class="icon ion-checkmark-round"></i>
                        <span class="prod-name">Always Log In as Admin</span>
                        <span class="float-side"><span id="admin-set">{{settings.always_admin}}</span><!--<i class="icon ion-ios-arrow-right"></i>--></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="xl-ms-product-inventory" style="overflow:hidden;">
        <div id="msp_product_wrapper">
            <h1>CONTENT WILL BE LOADED AFTER SELECTING A PARAMETTER</h1>
            <div id="msp_products_loader" class="xl-loader" style="margin-top:60px;">
                <img src="{% static 'images/loading.gif' %}" />
            </div>
        </div>
    </div>
</div>
<style>
    h1{font-size: 32px;text-align: center;color: #666;margin-top: calc(50vh - 143px);}
    .other-div-very-different ul li{height: auto !important; padding-top: 3px !important; padding-bottom: 9px !important;}
    .other-div-very-different ul li a .float-side{margin-top: 0px !important; margin-right: -8px;}
    .other-div-very-different ul > li > a > i{float: left; margin-right: 6px; font-size: 20px; margin-top: 7px;}
    .xl-ul-title{display: block; padding: 7px 5px; background: #ccc;}
    .xl-ms-product .xl-ms-product-details{padding-right:4px !important;}
    .just-for-margins{padding-right: 11px !important;}
    .float-side-else{float: right;}
</style>
<script type="text/javascript">
    $(".xl-ms-scroll-pane, #msp_product_wrapper").slimScroll({
        railVisible: true,
        size:'7',
        height:'calc(100vh - 150px)',
        alwaysVisible: false
    });
    $(".load_setting").click(function(){
        var url = $(this).attr("data-url");
        $(this).parent("li").addClass("activated").siblings().removeClass("activated");
        $("#trade_list_loader").show();
        load_msp_products(url);
    });
</script>
