{% load humanize %}
{% if session_user %}
<div class="xl-market-header">
    <h3>{{company.name}} Market</h3>
    <div class="xl-market-cart" id="xl_shopping_cart"></div>
</div>
<div class="xl-market-products">
    <div class="xl-market-products-list">
        <div class="xl-ms-product-list" style="margin-top:5px;">
            <table>
                <thead>
                    <tr style="text-align:center;">
                        <th>Code</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% if products %}
                        {% for product in products %}
                            <tr>
                                <td>{{product.product_code}}</td>
                                <td><img src="{{product.product.image.url}}" /></td>
                                <td>{{product.product.product_name}}</td>
                                <td>{{product.product.price|intword}} {{currency}}</td>
                                <td>{{product.stock}}</td>
                                <td>
                                    {% csrf_token %}
                                    <button style="background:lightgreen;width:70px;" id="open_add_item_to_cart_{{product.pk}}" href="#add_many_to_cart_{{product.pk}}"><i class="icon ion-ios-cart"></i><i class="icon ion-ios-plus-empty"></i> ADD</button>
                                </td>
                            </tr>
                            <section class="xl-search-modal" style="left:0;" id="add_item_to_cart_{{product.pk}}">
                                <div class="xl-ms-add-product-modal" style="margin-top:calc((100vh - 206px) / 2);">
                                    <h2>Enter Quantity</h2>
                                    <br/>
                                    <form method="POST">
                                        <div class='xl-ms-input-add'>
                                            {% csrf_token %}
                                            <input type="hidden" name="product" value="{{product.pk}}" />
                                            <label>Enter Product Quantity :</label>
                                            <input type="number" min="1" max="{{product.stock}}" id="quantity_{{product.pk}}" placeholder="Enter Quantity" name="quantity" value="1" required="required" />
                                            <button style="background:lightgreen;" id="submit-add-many-to-cart{{product.pk}}" type="button">Add</button>
                                            <button type="button" class="close_add_item" style="background:red;">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                                <script type="text/javascript">
                                    $('#open_add_item_to_cart_{{product.pk}}').click(function(){
                                        $("#add_item_to_cart_{{product.pk}}").fadeIn();
                                    });

                                    $(".close_add_item").click(function(){
                                        $("#add_item_to_cart_{{product.pk}}").fadeOut();
                                    });

                                    $("#submit-add-many-to-cart{{product.pk}}").click(function(){
                                        $.ajax({
                                            type:"POST",
                                            url:"{% url 'add_item_to_shopping_cart' shopping_cart.pk %}",
                                            data: {
                                                'product': '{{product.pk}}',
                                                'quantity': $("#quantity_{{product.pk}}").val(),
                                                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                                            },
                                            success: function(response){
                                                if(response == "saved"){
                                                    showSuccessMessage("add_item_to_cart", "Item Added !!!");
                                                    load_shopping_cart("{% url 'load_current_cart' shopping_cart.pk %}?type=data");
                                                    $("#add_item_to_cart_{{product.pk}}").fadeOut();
                                                } else {
                                                    $.alert({theme:'material',title:'Error',icon:'icon ion-close-circled',content:response,type: 'red'});
                                                }
                                            },
                                            error: function(error){
                                                showErrorMessage("add_item_to_cart", error);
                                            }
                                        });
                                    });
                                </script>
                            </section>
                        {% endfor %}
                    {% else %}
                        <!--<p class="xl-error">NO PRODUCT IN THE SYSTEM</p>-->
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if status == "suspended" %}
    <button class="xl-finish-cart" style="background:green;" data-url="{% url 'load_market_products' market.key shopping_cart.pk %}?last_option=continue" id="continue_shopping">Continue</button>
    <script type="text/javascript">
        $("#continue_shopping").click(function(){
            load_market_product($(this).attr("data-url"));
        });
    </script>
{% elif status == "created" or status == "accepted" or status == "finished" %}
    <button class="xl-finish-cart" data-pay-url="{% url 'pay_shopping_cart' shopping_cart.pk %}" data-market-status="{{market.status}}" data-user="{{user.pk}}"  id="finish_shopping_cart" data-finish-url="{% url 'finish_shopping_cart' shopping_cart.pk %}" data-href="{% url 'ecommerce_user_start' user.pk %}?key={{market.key}}" data-cart-url="{% url 'load_current_cart_json' shopping_cart.pk %}" style="margin-top:0;">
        {% if status == "created" %}
        Finish Cart
        {% elif status == "accepted" %}
        Pay Cart
        {% else %}
        Ask Order Acceptance
        {%  endif %}
    </button>
    <section class="xl-search-modal" style="left:0;" id="finish_pay_cart_bill">
        <div class="xl-ms-add-product-modal" style="margin-top:calc((100vh - 404px) / 2);">
            <h2>Pay & Finish Shopping Cart</h2>
            <br/>
            <form method="POST" action="" id="finish_pay_cart_form">
                <div class="xl-finish-pay-cart xl-ms-input-add">
                    {% csrf_token %}
                    <label>Total Net :</label>
                    <input type="number" disabled name="total_net" value="{{total}}" />
                    <label>Other Charges :</label>
                    <input type="number" disabled name="other_charges" value="3000" />
                    <label>Curreny :</label>
                    <input type="text" disabled name="currency" value="{{currency}}" />
                    <label>Select Payment Mode :</label>
                    <select name="payment_mode">
                        <option value="paypal">PayPal</option>
                        <option value="mobile">Mobile Money</option>
                    </select>
                    <p class="delivery_mode"><input type="checkbox" name="delivery" /> Delivery Mode</p>
                    <button style="background:lightgreen;" type="submit">Submit</button>
                    <button type="button" id="close_finish_pay_cart" style="background:red;">Cancel</button>
                </div>
            </form>
        </div>
    </section>
    <script type="text/javascript">
        var host = 'localhost';
        var port = '4000';
        var socket = io(host + ':' + port);
        var user = "{{user.pk}}";
        var cart = "{{shopping_cart.pk}}";

        $("#finish_shopping_cart").finishShoppingCart();

        socket.on("orderAccepted", function(data){
            if(data.user.token == user && cart == data.id){
                $(".jconfirm-closeIcon").click();
                $("#finish_pay_cart_bill").fadeIn();
                showSuccessMessage("success", "Order Accepted Successfully !!!");
            }
        });

        socket.on("orderDeclined", function(data){
            if(data.user.token == user && cart == data.id){
                $.alert({theme:'material',title:'Error',icon:'icon ion-close-circled',content:"Your Order has been Declined. Current Status: SUSPENDED",type: 'red'});
                $(".jconfirm-closeIcon").click();
                load_market_product("{% url 'ecommerce_user_start' user.pk %}?key="+data.key);
            }
        });

        $("#close_finish_pay_cart").click(function () {
            $("#finish_pay_cart_bill").fadeOut();
        });

        $("#finish_pay_cart_form").submit(function(e){
            e.preventDefault();
            var data = new FormData($(this)[0]);
            var delivery = $("#finish_pay_cart_form input[name=delivery]").is(":checked") ? true : false
            $.ajax({
                type: 'POST',
                url: "{% url 'pay_shopping_cart' shopping_cart.pk %}",
                data: {
                    'other_charges': $("#finish_pay_cart_form input[name=other_charges]").val(),
                    'delivery': delivery,
                    'payment_mode': $("#finish_pay_cart_form select[name=payment_mode]").val(),
                    'csrfmiddlewaretoken': $("#finish_pay_cart_form input[name=csrfmiddlewaretoken]").val()
                },
                success: function(response){
                    if (response == "paid"){
                        load_market_product("{% url 'ecommerce_user_start' user.pk %}?key={{market.key}}");
                    } else {
                        $.alert({theme:'material',title:'Error',icon:'icon ion-close-circled',content:response,type: 'red'});
                    }
                },
                error: function(error){
                    showErrorMessage("finish_shopping_cart", error);
                }
            });
        });
    </script>
{% endif %}
<script type="text/javascript">
    $(document).ready(function(){
        load_shopping_cart("{% url 'load_current_cart' shopping_cart.pk %}?type=data");
    });
</script>
{% else %}
    <p class="xl-error">Session User Required</p>
{% endif %}
